body{
    margin: 0px;
    padding: 0px;
    background: #3F3F3F;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    display: none;
  }

header {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.77px;
    min-height: 387px;
    width: 100%;
    aspect-ratio: 160 / 43;
    position: relative;
}
.header-back-img{
    position: absolute;
    width: 100%;
    aspect-ratio: 160 / 43;
    z-index: -10;
    top: 0px;
    left: 0px;
}
.header{
    width: 73.75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    max-width: 1440px;
    height: 38px;
    margin-bottom: 77px;
}
.header__text{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center; 
}
.h1-header__text{
    color: #FFF;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 107.5%; /* 68.8px */
    letter-spacing: 15.36px;
    margin-bottom: 4px;
}
li{
    display: inline-block;
    margin: 0 57px 0 0 ;
}
li:last-child{
    margin: 0 0 0 0;
}
a{
    text-decoration: none;
    color: inherit;
}

main{
    position: relative;
    width: 100%;
}
.main-background-block{
    width: 100%;
    position: relative  ;
    top: 0px;
    left: 0px;
    z-index: -10;
}
.h1-main-background__text{
    position: absolute;
    color: #FFF;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 109%; /* 137.6px */
    letter-spacing: 29px;
    opacity: 0.1;
    mix-blend-mode: overlay;
    margin-left: 19.2%;
    width: 90%;
    height: 138px;
    top: 390px; 
    z-index: 0;

}
.main-background__block1{
    position: relative;
    width: 100%;
    height: 451px;
    z-index: 1;
}
.main-background__block2{
    position: relative;
    width: 100%;
    height: 882px;
    background-color: #202020;
    z-index: 1;
}
.main-background__block3{
    position:relative;
    width: 100%;
    height: 719px;
}
.main-background__block3-1{
    position: absolute;
    width: 52.78%;
    height: 294px;
    background: #838383;
    margin-left: auto;
    left:48%;
    top: 676px;
}
.main-background__block4{
    width: 100%;
    height: 1333px;
    background-color: #202020;
}
.main-background__block5{
    width: 100%;
    height: 790px;
}

.main-block-all-content{
    position: absolute;
    width: 83%;
    left: 12.3%;
    height: 4000px;
    top: 120px;
}
.main-block-content__1{
    min-width: 1120px;
    display: flex;
    margin: 0 0 72px 32px;
}
.main-block-content__1__left{
    min-width: 612px;
    margin-right: 115px;
}
.main-block-content__1__left__text{
    width: 355px;
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 107.5%; /* 43px */
    letter-spacing: 9.6px;
    margin: 0 0 16px 10px;
}
.main-rectangle__1{
    box-sizing: content-box;
    height: 4.85px;
    width: 113px;
    background: #FFF;
    margin: 0 0 62.56px 10px;
}
.main-img-content__1__left{
    width: 612px;
}
.main-block-content__1__rignt{
    min-width: 393px;
}
.main-block-content__1__right__text{
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.5%; /* 12.9px */
    letter-spacing: 0.66px;
    width: 393px;
    margin: 23px 0 233px 0;
}
.main-rectangle__1:last-child{
    margin: 0 0 0 102px;
}


.main-block-content__2{
    min-width: 1047px;
    display: flex;
    align-items: center;
    margin: 0 0 83px 32px;
}
.main-img-content__2{
    width: 461px;
    height: 272px;
    margin-right: 122px;
}
.main-rectangle__2{
    width: 1px;
    height: 113px;
    background: #FFF;
    margin-right: 41px;
}
.main-block-content__2-text{
    width: 40%;
    max-width: 422px;
}



.main-text-h2{
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 107.5%; /* 34.4px */
    letter-spacing: 7.68px;
    margin-bottom: 25px;
    text-align: left;
}
.main-text-h3{
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.5%; /* 12.9px */
    letter-spacing: 0.66px;
    text-align: left;
}
.main-text-h1{
    color: #FFF;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 51.6px */
    letter-spacing: 13px;
    margin: 0 40px 55px 0;
}



.main-block-content__3{
    min-width: 1197px;
    display: flex;
    margin-bottom: 103px;
}
.main-block-content__3-text{
    width: 32.5%;
    min-width: 389px;
    margin:16px 128px 0 0;
}
.main-block-content__3-img{
    width: 636px;
    display: flex;
}
.main-img-content__3{
    margin: 0px;
    padding: 0px;
}
.content__3{
    margin: 66px 42px 0 0 ;
}


.main-block-content__4{
    min-width: 1073px;
    display: flex;
    margin-bottom: 190px;
}
.main-img-content__4{
    width: 505px;
    margin-right: 76px;
}
.content__4{
    margin: 88px 49px 0 0;
}
.main-block-content__4-text{
    width: 32.5%;
    min-width: 442px;
    margin:47px 0 0 0;
}


.main-block-content__5{
    min-width: 1152px;
    display: flex;
    margin-bottom: 101px;
}
.main-block-img-content__5{
    width: 440px;
    height: 293px;
    background: url(../img/images\ \(2\)\ 1.jpg) center, no-repeat;
    position: relative;
}
.main-img-content__5{
    position: absolute;
    left:-50%;
    top: -50%;
    width: 308px;
}
.content__5{
    margin: 44px 40px 0 0;
}
.main-block-content__5-text{
    width: 32.5%;
    min-width: 447px;
    margin:13px 229px 0 0;
}


.main-block-content__6{
    min-width: 1060px;
    display: flex;
    margin-bottom: 86px;
}
.main-img-content__6{
    min-width: 470px;
    margin: 0 94px 0 0;
}
.content__6{
    margin: 108px 49px 0 0;
}
.main-block-content__6-text{
    width: 32.5%;
    min-width: 447px;
    margin:48px 0 0 0;
}

.main-block-content__7{
    min-width: 1090px;
    display: flex;
    margin-bottom: 145px;
}
.main-img-content__7{
    min-width: 470px;
}
.content__7{
    margin: 106px 41px 0 0;
}
.main-block-content__7-text{
    width: 32.5%;
    min-width: 446px;
    margin:56px 71px 0 0;
}

.main-block-content-text{
    width: 61.5%;
    margin: 0 auto;
    text-align: center;
}
.main-block-content-text > .main-text-h2 {
    text-align: center;
}
.main-block-content-text > .main-text-h3 {
    text-align: center;
}

.main-block-content__9{
    width: 604px;
    height: 328px;
    background: url(../img/352126086\ 1.jpg) center, lightgray 50% / cover no-repeat;
    position: relative;
    margin: 239px 0 0 546px;
}
.main-img-content__9{
    position: absolute;
    left: -105%;
    top: -50%;
}



footer{
    width: 100%;
    height: 310px;
    background-color: #202020;
    position: relative;
    bottom:0px;
}
.footer-block-conteiner{
    width: 72.36%;
    margin: 0 auto;
    padding-top: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-block-conteiner > .main-text-h2{
    margin-bottom: 57px;
}
.footer-block-content{
    width: 100%;
    display: flex;
}
.footer-icon{
    width: 27.73%;
    margin:0 0 7px 23px;
}
.footer-text{
    width: 368px;
    height: 74px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.5%; /* 16.125px */
    letter-spacing: 0.825px;   
}